@model LabWeb.ViewModel.TableDetailsViewModel
<a class="btn btn-dark" asp-action="Create" asp-controller="Row" asp-route-id="@Model.table.Id"><i class="bi bi-plus-square-fill"></i>Add Row</a>
<form asp-action="Details" style="margin-top:25px">
	<input name="SearchString" class="form-control">
	<input type="submit" name="actionButton" value="Filter" class="btn btn-dark" />
</form>
<table class="table" style="margin-top:25px">
	@foreach (var row in Model.rows)
	{
		<tr>
			@foreach (var cell in row.RowData.Split('|'))
			{
				<td>@cell</td>
			}
			<td>
				<a class="btn btn-primary" asp-controller="Row" asp-action="Edit" asp-route-id="@row.Id" asp-route-tableid="@Model.table.Id"><i class="bi bi-sliders2"></i>Edit</a>
			</td>
		</tr>

	}
</table>